# Python virtual environment
venv/
deploy-test-db/

# Editor-specific files
.vscode/
.idea/

# Compiled Python files
*.pyc
__pycache__/

# Logs
*.log

# Environment variables
.env

# Dependency directories
lib/
lib64/
bin/
include/
share/

# Miscellaneous
*.swp
.DS_Store

.history
